.under-header {
    background-color: rgba(0,0,0,0.018);
    padding: 11px;
    text-align: center;
    margin: 10px 0px;
    color: rgb(143, 143, 143);
}

.under-header span {
    margin: 0px 5px;
}

.under-header i {
    color: rgb(143, 143, 143);
}